@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>This is the about page of the application</h3>

<p> We can use this area to provide additional information.
    Which will be updated very soon.</p>
