@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Admin Application</h1>
    <p class="lead">Employee Admin is an application built to do CRUD operations on Employee data.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Employees</h2>
        <p>
            You can Create Employees with specifying deatails of them.
        </p>
        <p><a class="btn btn-default" href="/Employees/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Update Employees</h2>
        <p>Anytime the Employee data can be updated and stored in the database</p>
        <p><a class="btn btn-default" href="/Employees">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete Employee(Active/Inactive)</h2>
        <p>you can anytime update the status of the employee of being active or inactive in the organizations</p>
        <p><a class="btn btn-default" href="/Employees">Learn more &raquo;</a></p>
    </div>
</div>